<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<div class="service">
    <h1 id = "server_title">監控中心</h1>
    <div id="messages" nowrap="nowrap"></div>
    <table id = "myTable" class="table-fill">
        <thead>
        <tr>
            <th class="text-left">Name</th>
            <th class="text-left">經度</th>
            <th class="text-left">緯度</th>
            <th class="text-left">狀態</th>
        </tr>
        </thead>
        <tbody class="table-hover">
        <tr>
            <td class="text-left"></td>
            <td class="text-left"></td>
            <td class="text-left"></td>
            <td class="text-left"></td>
        </tr>
        </tbody>
    </table>

</div>




